//== Colors
//
//## Define different basic colors.
$color__primary--light:            #D84C59 !default;
$color__primary:                   #CC243D !default;

$color__neutral--xlight:           #FFFFFF !default;
$color__neutral--light:            #F3F3F3 !default;
$color__neutral:                   #E4E3DB !default;
$color__neutral--dark:             #A09F95 !default;
$color__neutral--xdark:            #5C5A4E !default;

$color__gray--xlight:              #FFFFFF !default;
$color__gray--light:               #EEEEEE !default;
$color__gray:                      #90908D !default;
$color__gray--middark:             #737166 !default;
$color__gray--dark:                #666666 !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$text__family-sans:               'Raleway', Helvetica, Arial, sans-serif;
$text__family-serif:              'Libre Baskerville', Times, serif;
