.inventory {
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0, 40, 100, 0.12);
  padding: 2em;
  text-align: center;

  &__heading {
    font-weight: 500;
  }

  .item__edit-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    overflow: hidden;

    input, textarea, select {
      width: 33.33%;
      background: #fff;
      border: 0;
      border-bottom: 1px solid rgba(0, 40, 100, 0.12);
      border-radius: 0;
      padding: 10px;
      font-size: 1em;
      line-height: 1;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input:nth-child(2) {
      border-right: 1px solid rgba(0, 40, 100, 0.12);
      border-left: 1px solid rgba(0, 40, 100, 0.12);
    }
    textarea {
      width: 100%;
    }
    input:last-of-type {
      width: 100%;
    }
    button {
      width: 100%;
      border: 0;
      padding: .5em;

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
}
