.storeSelector {
  height: 100vh;
  background-color: $color__neutral--light;
  padding: 15vh 10%;
  font-family: $text__family-sans;
  text-align: center;
  color: $color__gray--dark; /*#6d6d6d;*/

  h1 {
    margin-bottom: 1em;
  }

  form {
    max-width: 500px;
    border: 2px solid $color__neutral;
    margin: 0 auto;
    padding: 60px 6%;
  }

  label,
  select,
  button {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  button {
    background-color: $color__neutral--dark;
    border-radius: 4px;
    padding: .5em;
    margin-top: 1em;
    color: $color__neutral--light;
  }
}
